<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>

<h2><%= @bean.name %></h2>

  <div class="descr">Roast</div>
  <div class="thing"><%= @bean.roast.capitalize %></div>

  <div class="descr">Flavour</div>
  <div class="thing"><%= @bean.flavour.capitalize %></div>

  <div class="descr">Country</div>
  <div class="thing"><%= @bean.country.name %></div>

  <div class="descr">Price</div>
  <div class="thing">€ <%= @bean.price %></div>

  <div><%= image_tag @bean.image_url%></div>


  <div class="buttons"><%= link_to "EDIT", edit_bean_path(@bean.id), class: "edit_button"%>
  <%= link_to "DELETE", bean_path(@bean.id), method: :delete, data: {confirm: "Are you sure?"}, class: "delete_button" %></div>
